body{
    /*background-color: rgba(220, 235, 255, 0.15);*/
}

h2{
    font-family: Helvetica Neue,Helvetica,Arial,
    sans-serif;
    font-size: 1.2em;
}

.header{
    position: relative;
    /*width: 100%;*/
    width: 1200px;
    height: 145px;
    margin: auto;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-size: 1.1em;*/
}

.footer{
    float: left;
    position: relative;
    height: 80px;
    width: 1180px;
    background-color: rgba(85,97,110,0.14);
    color: rgba(47, 47, 47, 0.95);
    /*font-size: 16px;*/
    margin: 15px auto ;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
}

.contents{
    position: relative;
    /*overflow: hidden;*/
    /*height: auto;*/
    margin: auto;
    background: #fff;
    width: 1200px;
}

.contents_auth{
    position: relative;
    margin: auto;
    background: #fff;
    width: 1200px;
}

.carousel{
    height: 250px;
    margin-top: 20px;
}

.west{
    /*background-color: rgba(38, 159, 239, 0.1);*/
    float: left;
    border-radius: 5px;
    position: relative;
    margin: auto 10px;
    width: 300px;
    word-wrap: break-word;
    padding: 10px;
}

.center{
    /*background-color: rgba(38, 159, 239, 0.1);*/
    border-radius: 5px;
    position: relative;
    margin-left: 350px;
    margin-top: 0;
    width: 820px;
    padding: 10px;
}

.menu{
    position: relative;
    width: 1200px;
    margin: 18px auto;
    color: royalblue
}

.authorization{
    position: relative;
    padding: 20px;
    width: 400px;
    height: 120px;
    margin: auto;
    background-color: rgba(85,97,110,0.14);
    border-radius: 5px;
    /*border: 1px solid #ded5d5;*/
}

.hello{
    position: absolute;
    color: #0b87c1;
    right: 10px;
    top: 115px;
}

.images{
    margin-bottom: 5px;
    width: 300px;
    height: 150px;
    /*border-radius: 5px;*/
}

.copyright{
    position: absolute;
    margin: auto;
    bottom: 0;
}

.social_network{
    position: absolute;
    /*margin: auto;*/
    width: 60px;
    right: 20px;
    bottom: 60px;
}

.name{
    width: 819px;
    height: 50px;
    text-align: center;
    background-color: rgba(85,97,110,0.14);
    border: 1px solid #ded5d5;
    /*padding: 1px;*/
    margin-bottom: 2px;
    border-radius: 5px;
}

.error_page{
    width: 1200px;
    height: 500px;
}

.ui-menu.ui-widget .ui-menu-list .ui-widget-header{
    width: 93%;
}

.ui-helper-reset{
    /*line-height: 1px;*/
}

.ui-dialog .ui-dialog-title{
    float: none;
}



