<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view locale="#{localeSwitch.locale}">

    <h:head>
        <title>#{msg.error_page}</title>
    </h:head>

    <h:body>


        <div class="error_page">

            <div class="header" style=" position: relative; width: 1200px; height: 145px; margin: auto;">

                <ui:include src="/templates/header.xhtml"/>
            </div>

            <div class="error" style="margin-top: 150px; text-align: center; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 0.8em; ">
                <h2><h:outputText value="#{msg.error_return}"/>
                    <h:link outcome="welcome.xhtml" value="#{msg.home_page}" style="text-decoration-line: none; color: rgba(185,16,35,0.77);"/></h2>
            </div>

            <div class="ball" style="width: 225px; position: relative; margin: auto;">
                <p:graphicImage value="/resources/images/effect/ball.jpg"/>
            </div>

        </div>
    </h:body>
</f:view>
</html>