<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<h:head>
    <title>
        title
    </title>
</h:head>

<h:body>

    <!--===========================================================-->
    <!--======================== Header ===========================-->
    <!--===========================================================-->

    <ui:composition>

        <div class="header">

            <h:form id="header">

                <div class="image">
                    <h:graphicImage value="/resources/images/effect/header.jpg" style="position: relative; top: 0; left: 0; width: 100% "/>
                </div>

                <div class="hello">
                    <ui:insert name="hello"/>
                </div>

            </h:form>
        </div>
    </ui:composition>
</h:body>
</html>
