<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<h:head>
    <title>
        title
    </title>
</h:head>

<h:body>

    <ui:composition >

        <!--<h:form id="registration">-->

            <!--===========================================================-->
            <!--====================== Registration =======================-->
            <!--===========================================================-->

            <p:commandButton id="dialog" value="#{msg.registration}" title="#{msg.registration}" icon="fa fa-fw fa-user-plus" type="button"  onclick="PF('2dlg').show()" style="width: 150px" />

            <p:dialog header="#{msg.registration_page}" widgetVar="2dlg" resizable="false" responsive="true" width="450">

                <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4,ui-grid-col-8" >

                    <h:outputLabel for="username1" value="#{msg.name_user}" />
                    <p:inputText id="username1" value="#{userController.user.username}" size="30" label="username1" required="true" placeholder="#{msg.enter_user}" />

                    <h:outputLabel for="password1" value="#{msg.password}" />
                    <p:password id="password1" value="#{userController.user.password}" match="password2" size="30" label="password1" required="true" placeholder="#{msg.enter_password}"/>

                    <h:outputLabel for="password2" value="#{msg.password}"/>
                    <p:password id="password2" value="#{userController.user.passwordAgain}" label="password2" size="30" required="true" placeholder="#{msg.enter_password2}"/>

                    <f:facet name="footer">
                        <p:commandButton id="registr" value="#{msg.registration}" action="#{userController.doCreateUser}" onclick="PF('2dlg').hide()"  icon="fa fa-fw fa-hand-o-right" style="color: #0b87c1; width: 200px; margin-left: 105px "/>
                    </f:facet>
                    <!--<p:tooltip id="toolTipGrow" for="registr" value="#{msg.bolder}" showEffect="clip" hideEffect="explode" position="right"/>-->

                </p:panelGrid>
            </p:dialog>
        <!--</h:form>-->
    </ui:composition>
</h:body>
</html>
