<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view locale="#{localeSwitch.locale}">

   <h:head>
      <title>#{msg.team}</title>
   </h:head>

   <h:body>

      <!--===========================================================-->
      <!--======================= Dependence ========================-->
      <!--===========================================================-->

      <f:facet name="dependence">
         <!--<h:outputScript library="js" name="player.js" target="head"/>-->
         <h:outputStylesheet library="css" name="player.css"/>
      </f:facet>

      <!--===========================================================-->
      <!--========================= Header ==========================-->
      <!--===========================================================-->

      <div id="login">

            <ui:include src="/templates/header.xhtml"/>

         <!--===========================================================-->
         <!--========================== Menu ===========================-->
         <!--===========================================================-->

         <ui:include src="/templates/menubar.xhtml"/>

         <!--===========================================================-->
         <!--======================== Contents =========================-->
         <!--===========================================================-->

         <div class="contents_auth">

            <!--===========================================================-->
            <!--===================== Authorization =======================-->
            <!--===========================================================-->

            <ui:include src="/templates/authorization.xhtml"/>

            <!--===========================================================-->
            <!--======================== Carousel =========================-->
            <!--===========================================================-->


            <ui:include src="/templates/carousel.xhtml"/>

            <!--===========================================================-->
            <!--================= Messsege login failed ===================-->
            <!--===========================================================-->

            <!--<c:if test="${not empty param.login_failed}">-->
            <!--<div class="error">-->
            <!--#{msg.login_failed}-->
            <!--</div>-->
            <!--</c:if>-->

               <ui:include src="/templates/footer.xhtml"/>

         </div>
      </div>
   </h:body>
</f:view>
</html>
